<div class="container">
    <div class="card">
        <h3 class="text-center"></h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>ADDRESS</th>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let enterprise of enterprises">
                        <td>{{enterprise.id}}</td>
                        <td>{{enterprise.address}}</td>
                        <td>{{enterprise.name}}</td>
                        <td>{{enterprise.phone}}</td>
                        <td>
                            <button class="btn" (click)="viewDepartments(enterprise.id)">See details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>