<div class="container">
    <div class="card">
        <h3 class="text-center"></h3>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>DESCRIPTION</th>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>IDENTERPRISE</th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let department of departments">
                        <td>{{department.id}}</td>
                        <td>{{department.description}}</td>
                        <td>{{department.name}}</td>
                        <td>{{department.phone}}</td>
                        <td>{{department.idEnterprise}}</td>
                        <td>
                            <button class="btn" (click)="viewDepartments()">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>