<div style="text-align:center">
<h1>Enterprise System</h1>
</div>
<div class="container" style="align-items: left;">
<button class="btn btn-info" (click)="viewEnterprises()" > + New </button>
</div>
<hr>
<router-outlet></router-outlet>